  <input type="text" [formControl]="input"
  >


<div class="grid">
  <div *ngFor="let series of result"
   (click)="showMOdal(series.show)">
    <div class="movie">
      <img *ngIf="series.show.image else placeholder" [src]="series.show.image?.medium">

      <ng-template #placeholder>
        <img class="no-image" width="60">
      </ng-template>

      <div class="movie-text">
        {{series.show.name}}
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<div class="wrapper"
     *ngIf="show">

  <div class="content">
    {{show.name}}
    {{show.rating}}
  </div>

</div>
