.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  width: 100px;
  margin: 2px;
}

.movie img {
  width: 100%;
}

.movie-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.no-image {
  width: 100%;
  height: 140px;
  border: 1px solid #ccc;
  background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
}



.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  margin: 0 auto;
}

.content {
  position: relative;
  background-color: #222;
  color: white;
  padding: 0 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

.metadata {
  padding: 10px
}

.tag {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 20px;
  display: inline-block;
  color: black;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.button:hover {
  color: darkcyan;
  border-color: darkcyan;
}

.image {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.closeButton {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.summary {
  padding-bottom: 20px;
}
